<?php
return array(
    'login.username' => 'admin',
    'login.password' => 'password',
    'beanstalk.host' => 'localhost',
    'beanstalk.port' => 11300,

    'versions.base_url' => 'https://api.github.com/',

    // storage
    'storage.cache.http' => APP_ROOT . '/storage/http',

    // slim specific
    'mode'           => 'development', // production, development
    'templates.path' => APP_ROOT . '/templates'
);
